<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Harvest Admin">
  <meta name="keywords" content="Harvest Admin">
  <meta name="author" content="Harvest Admin">
  <link rel="icon" href="https://harveststores.in/images/home/logo.png" type="image/x-icon">
  <link rel="shortcut icon" href="https://harveststores.in/images/home/logo.png" type="image/x-icon">
  <title>Harvest Stores | Admin</title>

  <!-- Google font-->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Font Awesome-->
  <link rel="stylesheet" type="text/css" href="../assets/css/fontawesome.css">

  <!-- Flag icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/flag-icon.css">

  <!-- Themify icon-->
  <link rel="stylesheet" type="text/css" href="../assets/css/themify-icons.css">

  <!-- Bootstrap css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">

  <!-- App css-->
  <link rel="stylesheet" type="text/css" href="../assets/css/admin.css">

</head>

<body>

  <!-- page-wrapper Start-->
  <div class="page-wrapper">

    <!-- Page Header Start-->
    <div class="page-main-header">
      <div class="main-header-right row">
        <div class="main-header-left d-lg-none">
          <div class="logo-wrapper"><a href="/"><img class="blur-up lazyloaded"
                src="https://harveststores.in/images/home/logo.png" alt=""></a></div>
        </div>
        <div class="mobile-sidebar">
          <div class="media-body text-right switch-sm">
            <label class="switch"><a href="#"><i id="sidebar-toggle" data-feather="align-left"></i></a></label>
          </div>
        </div>
        <div class="nav-right col">
          <ul class="nav-menus">
            <li>
              <form class="form-inline search-form">
                <div class="form-group">
                  <input class="form-control-plaintext" type="search" placeholder="Search.."><span
                    class="d-sm-none mobile-search"><i data-feather="search"></i></span>
                </div>
              </form>
            </li>



          </ul>
          <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
        </div>
      </div>
    </div>
    <!-- Page Header Ends -->

    <!-- Page Body Start-->
    <div class="page-body-wrapper">

      <!-- Page Sidebar Start-->
      <div class="page-sidebar">
        <div class="main-header-left d-none d-lg-block">
          <div class="logo-wrapper"><a href="index.html"><img class="blur-up lazyloaded"
                src="https://harveststores.in/images/home/logo.png" height="30px;" alt=""></a></div>
        </div>
        <div class="sidebar custom-scrollbar">
          <div class="sidebar-user text-center">
            <div><img class="img-60 rounded-circle blur-up laz  yloaded" src="../assets/images/dashboard/man.png"
                alt="#">
            </div>
            <h6 class="mt-3 f-14">Store Keeper</h6>
            <p style="color: green;">Online</p>
          </div>
          <ul class="sidebar-menu">
            <li><a class="sidebar-header" href="/shop/home"><i data-feather="home"></i><span>Dashboard</span></a>
            </li>
            <li><a class="sidebar-header" href="/shop/home"><i data-feather="box"></i> <span>Products</span></a>
            </li>
            <li><a class="sidebar-header" href="/shop/admin"><i data-feather="box"></i> <span>Admins</span></a></li>
            <li><a class="sidebar-header" href="/shop/orders"><i data-feather="box"></i> <span>Orders</span></a></li>







          </ul>
        </div>
      </div>
      <!-- Page Sidebar Ends-->


      <!-- Right sidebar Start-->
      <!-- <div class="right-sidebar" id="right_side_bar">
        <div>
          <div class="container p-0">
            <div class="modal-header p-l-20 p-r-20">
              <div class="col-sm-8 p-0">
                <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
              </div>
              <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div>
            </div>
          </div>
          <div class="friend-list-search mt-0">
            <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
          </div>
          <div class="p-l-30 p-r-30">
            <div class="chat-box">
              <div class="people-list friend-list">
                <ul class="list">
                  <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded"
                      src="../assets/images/dashboard/user.png" alt="">
                    <div class="status-circle online"></div>
                    <div class="about">
                      <div class="name">Vincent Porter</div>
                      <div class="status"> Online</div>
                    </div>
                  </li>
                  <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded"
                      src="../assets/images/dashboard/user1.jpg" alt="">
                    <div class="status-circle away"></div>
                    <div class="about">
                      <div class="name">Ain Chavez</div>
                      <div class="status"> 28 minutes ago</div>
                    </div>
                  </li>
                  <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded"
                      src="../assets/images/dashboard/user2.jpg" alt="">
                    <div class="status-circle online"></div>
                    <div class="about">
                      <div class="name">Kori Thomas</div>
                      <div class="status"> Online</div>
                    </div>
                  </li>
                  <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded"
                      src="../assets/images/dashboard/user3.jpg" alt="">
                    <div class="status-circle online"></div>
                    <div class="about">
                      <div class="name">Erica Hughes</div>
                      <div class="status"> Online</div>
                    </div>
                  </li>
                  <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded"
                      src="../assets/images/dashboard/man.png" alt="">
                    <div class="status-circle offline"></div>
                    <div class="about">
                      <div class="name">Ginger Johnston</div>
                      <div class="status"> 2 minutes ago</div>
                    </div>
                  </li>
                  <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded"
                      src="../assets/images/dashboard/user5.jpg" alt="">
                    <div class="status-circle away"></div>
                    <div class="about">
                      <div class="name">Prasanth Anand</div>
                      <div class="status"> 2 hour ago</div>
                    </div>
                  </li>
                  <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded"
                      src="../assets/images/dashboard/designer.jpg" alt="">
                    <div class="status-circle online"></div>
                    <div class="about">
                      <div class="name">Hileri Jecno</div>
                      <div class="status"> Online</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> -->